<div class="title">Let's make an app!</div>
<div class="subtitle">Slidr</div>
<div class="content">
    <ul>
        <li>app/templates/application.hbs
            {{code-block '{{slide-show slideIndex=slideIndex slides=content}}' "html"}}
        </li>
        <li>app/routes/application.js
            {{code-block 'model: function () { return ["slide1","slide2","slide3"];}' "js"}}
        </li>
        <li>app/controllers/application.js
            {{code-block 'import Slides from "ember-slide-show/mixins/slide-show-controller";' "js"}}
            {{code-block 'export default Ember.Controller.extend(Slides, {});' "js"}}
        </li>
        <li>Add some style: app/styles/app.scss
        {{code-block 'body > div:first-of-type {margin: 0 auto;} //centering' "css"}}
        </li>
        <li>Edit your slides: app/templates/slide-show/
        </li>
    </ul>
</div>