<div class="title">Practical Ember CLI</div>
<div class="subtitle">Common commands</div>
<div class="content">
    <ul>
        <li>{{code-block "npm install -g ember-cli" "js"}}</li>
        <li>{{code-block "ember new app-name" "js"}}</li>
        <li>{{code-block "ember install:bower moment" "js"}}</li>
        <li>{{code-block "ember install:npm broccoli-sass" "js"}}</li>
        <li>{{code-block "ember build" "js"}}</li>
        <li>{{code-block "ember test" "js"}}</li>
        <li>{{code-block "ember serve" "js"}}</li>
        <li>{{code-block "ember generate route application" "js"}}</li>
        <li>{{code-block "ember g initializer inject-something" "js"}}</li>
        <li>{{code-block "ember g helper code-block" "js"}}</li>
    </ul>
</div>